/***** Home Page *****/

.about-home-info {
	display: flex;
	flex-direction: row-reverse;
}

.about-content {
	padding-right: 4rem;
}

.about-image {
	padding-right: 4rem;
}

.container-wrapper {
	margin-bottom: 3rem;
}

a.home-categories{
	width: 32%;
	height: 200px;
	border: 1px solid rgba(0, 0, 0, .125);
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 8rem;
  text-align: center;
}

.container-wrapper .nograde-home-wrapper {
  width: 30%;
}

.blog-wrapper {
	width: 32%;
	height: 200px;
	margin-bottom: 2rem;
	padding-top: 1rem;
}


.notes-wrapper {
	width: 48%;
}


/***** Newsletter Page *****/

.newsletter-form-wrapper {
	width: 50%;
}
