/***** Home Page *****/

.about-home-info {
	display: flex;
	flex-direction: row-reverse;
}

.about-content {
	padding-right: 4rem;
}

.about-image {
	padding-right: 4rem;
}

.container-wrapper {
	margin-bottom: 3rem;
}

a.home-categories{
	width: 32%;
	height: 200px;
	border: 1px solid rgba(0, 0, 0, .125);
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 8rem;
  text-align: center;
}

.container-wrapper .nograde-home-wrapper {
  width: 30%;
}

.blog-wrapper {
	width: 48%;
	margin-bottom: 2rem;
	padding-top: 1rem;
}

a.protocol-wrapper {
	width: 48%;
	margin-bottom: 2rem;
	padding-top: 1rem;
}


.notes-wrapper {
	width: 48%;
}


/***** Newsletter Page *****/

.newsletter-form-wrapper {
	width: 50%;
}


/***** Privacy Page *****/

.privacy-page-wrapper {
	margin-top: 4rem;
	padding-bottom: 4rem;
}

.privacy-heading {
  padding-bottom: 2rem;
}
.privacy-heading h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #3d3e44;
  line-height: 1.25;
  font-color: #3d3e44;
}


/***** Terms Page ******/

.terms-page-wrapper {
  margin-top: 4rem;
  padding-bottom: 4rem
}

.terms-heading {
  padding-bottom: 2rem;
}

.terms-heading h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #3d3e44;
  line-height: 1.25;
  font-color: #3d3e44;
}

.blog-body {
  padding-left: 13rem;
  padding-right: 13rem;
}