{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="articles-page">
	<h2><center>Algorithmic Strategies</center></h2>
	<div class="container-wrapper">
        <a class="home-categories" href="https://ewisapp.herokuapp.com/" target="_blank">
            <div>
                <h3>Equal Weight Investment Strategy</h3>
            </div>
        </a>
        <a class="home-categories" href="{% url 'blog-protocols' %}">
            <div><h3>Quantitative Momentum Strategy</h3></div>
        </a>
        <a class="home-categories" href="{% url 'blog-investing' %}">
            <div><h3>Value Investing Strategy</h3></div>
        </a> 
        </div>
</div>

{% endblock content %}