{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="articles-page">
	<h2><center>Algorithmic Strategies</center></h2>
	<div class="container-wrapper">
        <a class="investing-categories" href="https://ewisapp.herokuapp.com/" target="_blank">
            <div>
                <h4>Equal Weight Investment Strategy</h4>
            </div>
        </a>
        <a class="investing-categories" href="{% url 'blog-protocols' %}">
            <div><h4>Quantitative Momentum Strategy</h4></div>
        </a>
        <a class="investing-categories" href="{% url 'blog-protocols' %}">
            <div><h4>Value Investing Strategy</h4></div>
        </a> 
        </div>
</div>

{% endblock content %}