{% extends "blog/base.html" %}
{% load static %}
{% block content %}
	<div class="about-page">
		<h2><center>About Me</center></h2>
		<br>
		<p>Hi there, I'm Vishwajit Singh. I'm an independent web developer, writer, and founder of Nograde.</p>
		<p>I write on topics that explore the human condition. Writing is a form of self-expression to me and I prefer not to impose my views on others. I share my writings with others with the sole purpose of further refining my understanding and insights on the human condition.</p>
		<p>I am also the founder of NoGrade Academy where i teach skills to better navigate one's life and career.</p>
		<p>Previously, i have worked in both for-profit and not-for-profit sectors and have implemented and managed projects in over 10 countries across 4 continents.</p>
		<p>The views expressed on this site are all personal. They do not represent the views of the organizations i have worked with in the past or people close to me. Though, it is likely they have shaped my views one way or the other.</p>
		<br>
		<h4>Where all have I worked?</h4>
		<p>I have previously worked on projects in India, Sri Lanka, Bangladesh, Brazil, England, South Africa, Mozambique, Ghana, and Ethiopia.</p>
		<br>
		<h4>Organizations worked with previously</h4>
		<p><a href="#">Infosys</a>, <a href="#">Leaders' Quest</a>, <a href="#">Pratham</a>, <a href="#">Acumen</a>, <a href="#">Impact Investment Exchange</a>, <a href="#">Dimagi</a>, <a href="#">Food and Agriculture Organization (FAO)</a></p>
		<br>
		<h4>Core values</h4>
		<p>My core values are <strong>autonomy</strong>,<strong> authenticity</strong>, and <strong>growth</strong>. I enjoy working independently on projects that i find meaningful. I am intrinsically motivated and focus on learning new skills and sharing what i have learned with others in order to refine my understanding.</p>
		<p>In the chart below, i have grouped some of the other common values with my core values since they are related.</p>
		<div class="values-image">
			<center><img class="values" src="{% static 'values.jpg' %}"></center>	
			</div>
		<br>
		<h4>Qualities</h4>
		<p>I am a good listener and i enjoy one on one communication. I have a growth mindset and believe in learning from my mistakes and growing from it. I like to focus on the big picture and think creatively about problems.</p>
		<br>
		<h4>Interests</h4>
		<p>Philosophy, Psychology, Ethics, Behaviour Science, Songwriting, Music Production, Comedy</p>
		<br>
		<h4>Personality</h4>
		<p>I am typed as MBTI Type INFJ. Introverted intuition and extraverted feeling are my dominant functions. I am highly individualistic.</p>
		<br>
		<h4>Lifestyle preference</h4>
		<p>Minimalist</p>
		<br>
		<h4>Philosophical alignment</h4>
		<p>Existentialist philosophy</p>
		<br>
		<h4>Current beliefs</h4>
		<p>I focus highly on personal growth and therefore i regularly reflect on my beliefs and try to update them based on the life that i have experienced.</p>
		<ul>
			<li>Meaning and purpose of life: I believe that we are all free to define what our purpose in life should be or what meaning we give to our lives. There is no external purpose or meaning granted to our lives.</li>
			<li>Religious views: There is no God in the way religions across the world profess.</li>
			<li>Afterlife: There is no afterlife in the way religions across the world profess.</li>
			<li>Self: Self or what we call I is essentially a combination of what we perceive through our senses. Therefore, we can change our sense of self, by changing our perception of who we are.</li>
			<li>Free-will: We can be conscious of our thoughts and actions, and in that sense we do have free will to choose our actions. However, if we are unconscious, the universe is deterministic.</li>
			<li>Nature of consciousness: Objective and non-dual.</li>
			<li>Morality: There is no objective basis for any morals or ethics. Slavery, nuclear proliferation, genocide are unjustifiable because there is no objective justification for desiring to kill or own others. Subjective morality is emergent and it evolves.</li>
			<li>Role of government: A limited form of government is required to maintain order given the complexities of the world and for the betterment of those born in unfortunate circumstances. Free education and healthcare should be provided to all citizens.</li>
			<li>Abortion and birth control: Should be free and readily available. Mainly because if someone is unsure about having a child, it's probably not best for the child.</li>
			<li>Assisted suicide: Assisted suicide should be available to people in dire circumstances.</li>
			<li>On problems in the world (If one is of the opinion that problems exist in the world): We can never truly solve all the problems that exist in the world. A solution to one problem is likely to lead us to another problem. Most of what we consider good, if we stretch it to an extreme, it becomes bad. Same is true of life and therefore, our attitude should be one of problem solving.</li>
			<li>Discourse: Discouse is important to clarify our conceptual understanding of the world.</li>
		</ul>
		<br>
	</div>
{% endblock content %}
