{% extends "blog/base.html" %}
{% block content %}
	<div class="articles-page">
		<h2><center>All Articles</center></h2>
	    <div class="container-wrapper">
	      	{% for post in posts %}
	    		<a class="blog-wrapper" href="{% url 'post-detail' post.slug %}">
	          		<div class="blog-thumbnail">
	            		<img class="thumbnail" src="{{ post.thumbnail.url }}"/>
	         		</div>
			        <div class="blog-body">
			            <h5>{{ post.title }}</h5>
			            <p class="article-content">{{ post.snippet|safe }}</p>
			        </div>
	    		</a>
	  		{% endfor %}
		</div>
	</div>
{% endblock content %}