{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="contact-page"> 
		<div class="contact-wrapper">
			<div class="contact-form-wrapper">
				<h2><center>Contact Me</center></h2>
				<br>
				<form method="POST">
					{% csrf_token %}
					<fieldset class="form-group">
						{{ form|crispy }}	
					</fieldset>
					<div class="form-group">
						<button class="btn btn-info" type="submit">Message Now</button>
					</div>
				</form>
			</div>	
		</div>
	</div>
{% endblock content %}