{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="post-detail-page">
		<div class="post-detail-page-wrapper">
			<div class="post-detail-container-wrapper">
				<article class="post-detail-wrapper">
					<h2 class="article-title"><center>{{ object.title }}</center></h2>
		    		<div class="blog-body">
		    			<video src="{{ post.video.url }}" controls></video>
				    	<p class="article-content">{{ object.content|safe }}</p>
		    		</div>
				</article>
			</div>
		</div>
	</div>
{% endblock content %}