{% extends "blog/base.html" %}
{% load static %}
{% block content %}  
    <div class="about-home-info">
        <div class="about-image">
            <center><img class="account-img" src="{% static 'vs.jpg' %}"></center>
        </div>
        <div class="about-content">
            <p>Hi there - I am an independent DeFi researcher, analyst and trader. On this blog, I share my notes and resources on DeFi, trading, and investing.</p>
            <p>Interests: Philosophy, Mathematics, Finance, Psychology</p>
            <p>Assignments: DeFi Innovation Research, Crypto Asset Analysis, Trading Strategies</p>
            <p>Programming: Python, Django, NumPy, Pandas</p>
        </div>
    </div>
    <div class="container-wrapper">
        <a class="home-categories" href="{% url 'blog-defi' %}">DeFi Fundamentals</a>
        <a class="home-categories" href="{% url 'blog-protocols' %}">DeFi Protocols</a> 
    </div>
{% endblock content %}

a