{% extends "blog/base.html" %}
{% load humanize %}
{% load static %}
{% block content %}
	<div class="articles-page">
		<div class="about-home-info">
			<h2 class="home-summary"><center>Market Summary</center></h2>
			<p>Total active cryptocurrencies: {{ overall.data.active_cryptocurrencies }}</p>
			<p>Total ETH market capitalization: {{ defi.data.eth_market_cap|floatformat:2 }}</p>
			<p>Total DeFi market capitalization: {{ defi.data.defi_market_cap|floatformat:2 }}</p>
			<p>DeFi Top Coin in last 24h: {{ defi.data.top_coin_name }}</p>
        </div>
		<table id="markets">
			<tr>
				<th>Name</th>
				<th>Symbol</th>
				<th>Price</th>
				<th>24h H</th>
				<th>24h L</th>
				<th>24h %</th>
				<th>Market Capitalization</th>
				{% for i in data %}
			</tr>
			<tr>
				<td>{{ i.name }}</td>
				<td>{{ i.symbol.upper }}</td>
				<td>${{ i.current_price }}</td>
				<td>${{ i.high_24h }}</td>
				<td>${{ i.low_24h }}</td>
				<td>{{ i.price_change_percentage_24h }}%</td>
				<td>${{ i.market_cap }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endblock content %}