{% extends 'blog/base.html' %}
{% block content %}
	<div class="privacy-page-wrapper">
		<div class="privacy-heading">
			<h2><center>Privacy Policy</center></h2>
		</div>
		{{ final_dataframe }}
		<p>vishwajitsingh.com strives to offer its visitors the many advantages of internet technology. We may use Personally Identifiable Information (your name, e-mail address, etc.) to do this, but we will never sell, barter, or rent your email address to any unauthorized third party.</p>
		<p>When you visit the site, a cookie may be placed on your computer for customizing and enhancing your experience on the site. Your name and email address are not shared in this cookie. We use a cookie that collects anonymous traffic data. You can set your Web browser to block cookies, but doing so may affect your ability to access certain features of the site.</p>
		<p>The site is not intended for use by children under the age of 13. We will not knowingly collect personal information from them. If we discover that a child has provided us with personal information, we will use reasonable efforts to delete this information. If you have reason to believe we may have accidently received personal information from a child under the age of 13, please immediately reach out to hello@vishwajitsingh.com.</p>
		<p>We may modify, alter or update this Privacy Policy at any time. We will not provide individual notice to you of changes to this Privacy Policy, but when we make updates to this Privacy Policy, we will update the date in the section. This was last updated on December 1, 2021.</p>
	</div>
{% endblock content %}