{% extends "blog/base.html" %}
{% block content %}
	<div class="articles-page">
		<h2><center>DeFi Protocols</center></h2>
	    <div class="container-wrapper">
	      	{% for protocol in protocols %}
	    		<a class="protocol-wrapper" href="{% url 'protocol-detail' protocol.slug %}">
			        <div class="blog-body">
			            <h5>{{ protocol.title }}</h5>
			            <p class="article-content">{{ protocol.details|safe }}</p>
			        </div>
	    		</a>
	  		{% endfor %}
		</div>
		<div class="paginator">
			{% if is_paginated %}
		    	{% if page_obj.has_previous %}
		        	<a class="btn btn-outline-dark" href="?page=1">First</a>
<!-- 		        	<a class="btn btn-outline-dark" href="?page={{ page_obj.previous_page_number }}">Previous</a> -->
		      	{% endif %}
		      	
		      	{% for num in page_obj.paginator.page_range %}
		        	{% if page_obj.number == num %}
		          		<a class="btn btn-dark" href="?page={{ num }}">{{ num }}</a>
		        	{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
		          		<a class="btn btn-outline-dark" href="?page={{ num }}">{{ num }}</a>
		        	{% endif %}
		      	{% endfor %}

		      	{% if page_obj.has_next %}
		        	<a class="btn btn-outline-dark" href="?page={{ page_obj.next_page_number }}">Next</a>
<!-- 		        	<a class="btn btn-outline-dark" href="?page={{ page_obj.paginator.num_pages }}">Last</a> -->
		      	{% endif %}
		    {% endif %}
		</div>
	</div>
{% endblock content %}