{% extends "blog/base.html" %}
{% block content %}
	<div class="services-page">
		<h2><center>Services</center></h2>
		<br>
		I work with individual clients - students, professionals, artists and creative people, people who are starting up their business or side projects. I do not work with institutional clients - organizations, corporation, government.
		<div class="container-wrapper">
	        <div class="notes-wrapper">
	            <div class="notes-wrapper-body">
	              	<p>Custom Web Application Prototype/MVP Development</p>
	              	<ul>
		              	<li>Languages: HTML, CSS, JavaScript, Python</li>
		              	<li>Framework and libraries: Bootstrap, Django, React</li>
		              	<li>Database: SQL, PostgreSQL</li>
		              	<li>Other tools and skills: Heroku, AWS, Responsive Web Design</li>
	              	</ul>
	            </div>
	        </div>
	        <div class="notes-wrapper">
	            <div class="notes-wrapper-body">
	              	<p>Content Management System (CMS) or Blog Development</p>
	              	<ul>
		              	<li>Languages: HTML, CSS, JavaScript, Python</li>
		              	<li>Framework and libraries: Bootstrap, Django, React</li>
		              	<li>Database: SQL, PostgreSQL</li>
		              	<li>Other tools and skills: Heroku, AWS, Responsive Web Design</li>
	              	</ul>
	            </div>
	        </div>
	        <div class="notes-wrapper">
	            <div class="notes-wrapper-body">
	              	<p>Static Website Development</p>
	              	<ul>
	              		<li>Responsive web design</li>
	              	</ul>
	            </div>
	        </div>
	        <div class="notes-wrapper">
	            <div class="notes-wrapper-body">
	              	<p>Technical Search Engine Optimization</p>
	              	<ul>
	              		<li>Page speed and optimization</li>
	              	</ul>
	            </div>
	        </div>
    	</div>
	</div>
{% endblock content %}