{% extends "blog/base.html" %}
{% block content %}
	<div class="services-page">
		<h2><center>Services</center></h2>
		<br>
		<p>I like helping individuals and enjoy working with students, young professionals, artists and creative people. I offer the following services at no cost. I only ask you to pay if you are satisfied with my work.</p>
		<p>I help students and young professionals think through their options and i firmly believe that one has to take complete ownership of all the decisions they make in life in order to be happy and successful. My counselling therefore is geared towards people who understand that only they know what's best for them and i am only there to help them think through various options and ask questions that allows them to explore themselves more. 
		<p>I have previously worked in both for-profit and not-for profit sectors across technology, impact investment, and social entrepreneurship industries in agriculture and education domains.</p>
		<br>
		<div class="service1">
			<h6>Prototype Development</h6>
			<p>Authentication system - registration, login, logout and password reset</p>
			<p>MVT design</p>
			<p>Image feed - Uploading, editing, deleting images</p>
			<p>Admin</p>

		</div>
		<div class="service2">
			MVP Development
		</div>

		<div class="container">
			<div class="row">
				<div class="card col-sm-12 col-md-6 col-lg-6">
		  			<h5 class="card-header">Students and Young Professionals</h5>
					<div class="card-body">
					<h6>Career Counselling</h6>	
					<ul>
						<li>Navigating career choices</li>
						<li>Navigating educational choices</li>
					</ul>
					<br>	
					<h6>Recruitment</h6>
					<ul>
						<li>CV/Resume preparation</li>
						<li>Interview preparation</li>
						<li>Job preparation</li>
					</ul>
					<br>	
					<h6>Personality Assessment</h6>
					<ul>
						<li>Understanding your personality type</li>
					</ul>
					<br>			
					</div>
				</div>

				<div class="card col-sm-12 col-md-6 col-lg-6">
		  			<h5 class="card-header">Independent Artists or Creative Professionals</h5>
					<div class="card-body">
						<h6>Personal Branding</h6>	
						<ul>
							<li>Identifying your strengths and values</li>
							<li>Building a personal brand</li>
							<li>Mentorship/startup advising</li>
						</ul>
						<br>
						<h6>Web Application Design and Development</h6>
						<ul>
							<li>Website/Prototype/MVP Development</li>
							<li>Stack used: HTML, CSS, JavaScript, Python, Django, and React</li>
						</ul>
						<br>
						<h6>Marketing</h6>
						<ul>
							<li>Content and Technical SEO</li>
						</ul>
						<br>		
					</div>
				</div>
			</div>
		</div>	
	</div>
{% endblock content %}