{% extends 'blog/base.html' %}
{% block content %}
	<div class="terms-page-wrapper">
		<div class="terms-heading">
			<h2><center>Terms of Use</center></h2>
		</div>	
		<p>The content provided on vishwajitsingh.com is based on author's personal opinion and experiences, and it should be used for informational, entertainment, and resource purposes only. It should not be a substitute for advice given by any professional.</p>
		<p>vishwajitsingh.com works to provide the most up-to-date information possible. However, we will not be responsible for any loss/and or damage that may occur as a result of the information or recommended products on this blog or any affiliated blog/website. It is understood that people using the information on this site are solely responsible for how they perceive and implement it.</p>
	</div>
{% endblock content %}